csv-to-activemq/src/main/mule/csv-to-activemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
	<flow name="csv-to-activemqFlow">
		<file:inbound-endpoint path="C:\Users\10666128\input" moveToDirectory="C:\Users\10666128\output" responseTimeout="10000" doc:name="read csv file"/>
		<file:file-to-string-transformer doc:name="File to String"/>
		<logger message="payload message = #[payload]" level="INFO" doc:name="Log csv payload"/>
		<jms:outbound-endpoint queue="demoQueue" connector-ref="Active_MQ" doc:name="JMS-activemq"/>
		<logger message="message published to ActiveMQ successfully!!!" level="INFO" doc:name="success message"/>
	</flow>
</mule>