json_to_object_transformer/target/classes/json_to_object_transformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

<!-- {"password":"23423423","username":"Test Name"}
http://localhost:8081/json -->
   <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="json_to_objectFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/json" doc:name="HTTP" allowedMethods="POST" />
		<logger message="1 - #[payload]" level="INFO" doc:name="Logger"/>
		<json:json-to-object-transformer doc:name="JSON to Object" returnClass="com.lti.test.User"/>
		 <logger message="2 - #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="Welcome #[payload.username]" doc:name="Set Payload"/>
	</flow>
</mule>
