enricher/src/main/mule/enricher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

<!-- {
"name":"Tabrej"
}
http://localhost:8081/enricher -->

	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8081" doc:name="HTTP Listener Configuration" />
	<flow name="enricherFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/enricher" allowedMethods="POST" doc:name="HTTP" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
		<enricher target="#[payload]" source="#[payload]" doc:name="Message Enricher" >
			<set-variable doc:name="Variable" value="#[payload]" variableName="enricherVar"/>
		</enricher>
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
	</flow>
</mule>
